<script type="text/javascript">
    document.write("<h2>Verify Email!!</h2>")
    var div = document.createElement("div");
    var span = document.createElement("span");
    var input = document.createElement("input");
    var button = document.createElement("button");
    var span1 = document.createElement("span");
    var api_data
    span.id="span"
    span1.id="span1"

    input.id="email";
    input.type="text";
    input.name="email";

    button.name="button";
    button.innerHTML = " Check"
    button.id="button";
    button.style.display="none";

    div.appendChild(input)
    div.appendChild(button)
    div.appendChild(span)
    div.appendChild(span1)
    document.body.appendChild(div);

    button=document.getElementById("button")
    span=document.getElementById("span")
    span1=document.getElementById("span1")
    email=document.getElementById("email")

    email.onchange= function() {
        emails=["deveshnanwani@gmail.com","deveshnanwani@consultadd.com","chirag@consultadd.com","chirag@gmail.com","bhavesh@gmail.com","bhavesh@consultadd.com"]
        var email = document.getElementById("email")
        if (email != null){
            filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if (filter.test(email.value)) {
                document.getElementById("email").style.border = "3px solid green";
                if(emails.includes(email.value)){
                    button.style.display="block";
                    span.innerHTML=""
                    span1.innerHTML=""
                }
                else{
                    span.innerHTML="<br>email is not there!!!"
                    button.style.display="none";
                    span1.innerHTML=""
                }
                return true;
            } else {
                document.getElementById("email").style.border = "3px solid red";
                button.style.display="none";
                span1.innerHTML=""
                return false;
            }
        }
    }
    email.onfocus=function(){
        email.style.background="antiquewhite";
    }
    email.onblur=function(){
        email.style.background="none";
    }

    button.onclick = function(){
        var email = document.getElementById("email")
        var myemail =  email.value
        if (/@consultadd.com\s*$/.test(myemail)) {
            span1.innerHTML="<br><b>True<b>"
            data=apiCall();
            data.then((data1)=>{
                console.log(data1.firstName)
                localStorage.setItem('user', JSON.stringify(data1));
                // send data on url
                //setTimeout(function(){window.location.href = "./home.html?age="+data1.age }, 2000);
                // store using session
                sessionStorage.setItem("age", data1.age);
                setTimeout(function(){window.location.href = "./home.html";
                                        sessionStorage.setItem("age", data1.age);}, 2000);
            })
            // using local storage
            //setTimeout(Redirect, 2000);
        }
        else{
            span1.innerHTML="<br><b>False<b>"
        } 
    }
function apiCall(){
    console.log("apicall")
var data
let promise = fetch("https://demo7857661.mockable.io/testdata")
.then((response) => {
    data = response.json()
    return data
  }).catch(function(error){
    console.log(err)
});
return promise;
}
//function Redirect() {
//               window.location = "./home.html";
//            }
</script>